localhost {
    root * /var/www/html/public
    php_fastcgi php:9000
    file_server
    encode zstd gzip

    route /build/* {
       @static file
       file_server @static
       reverse_proxy node:5173
   }
}
